{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block body %}
<div class="col-auto">
  <h1>Welcome to the Mad Lib Generator!</h1>
  <p>Choose a story type below to begin</p>

  <div class="dropdown" >
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Story List
    </button>
    <ul class="dropdown-menu">
      {% for story in stories %}
      <li>
        <a
          class="dropdown-item"
          href="/questions?story_id={{story.ident}}"
          value="{{story.ident}}"
          >{{story.title}}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

{% endblock %}
